.leftSidePane {
    -fx-background-color: gray;
}

.leftSideButton {
    -fx-background-color: lightgray;
}

.mainContentFlowPane {
    -fx-background-color: darkgray;
    -fx-focus-color: TRANSPARENT;
}

.mainContentScrollPane {
    -fx-focus-color: TRANSPARENT;
}

.rightSidePane {
    -fx-background-color: gray;
}

.rightSideButton {
    -fx-background-color: lightgray;
}