.leftSidePane {
    -fx-background-color: gray;
}

.leftSideButton {
    -fx-background-color: lightgray;
}

.mainContentPane {
    -fx-background-color: darkgray;
}

.mainContentScroll {
    -fx-focus-color: TRANSPARENT;
}